
@{
    ViewData["Title"] = "Error";
}

<h1>Exception Details :</h1>

<div class="alert alert-danger">


    <p>@ViewBag.ExceptionPath</p>
    <p>@ViewBag.Message</p>
    <p>@ViewBag.StackTrace</p>

</div>